[Unit]
Description=Kafka Schema Registry
After=network.target

[Service]
EnvironmentFile=-/etc/default/schema-registry
ExecStart=/usr/bin/schema-registry-start /etc/schema-registry/schema-registry.properties

[Install]
WantedBy=multi-user.target
